body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    margin: 0;
    padding: 0;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.section-title {
    text-align: center;
    color: #007bff;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

.img-car img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.disc-card {
    padding: 10px;
    flex-grow: 1; /* Allows the content to expand and take up the remaining space */
}

.disc-card p {
    margin: 0;
    color: #555;
}

.btn {
    width: 100%;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}

.thead{
    background-color: #007bff;
}

th{
    color: #f0f5f9;
}
